// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato&family=Montserrat:wght@400;800&family=Playball&family=Playfair:ital,wght@0,400;1,300&family=Poppins&family=Raleway&family=Roboto+Serif:wght@300&display=swap');

$primary: hsl(21, 72%, 76%);
$secondary: hsl(27, 100%, 89%);
$tertiary: #FDF7F2;
$hover: hsl(17, 4%, 50%);

$section-font: rgb(172, 164, 164);
$section-dark-font-color: #433e43;
$header-background: linear-gradient(145deg, hsl(0, 28%, 67%), hsl(27, 54%, 89%));
$footer-background: linear-gradient(145deg, #F2E1D3, #c39595);
$promotion-color: #c7b9b9;

$button-color: rgb(223, 74, 183);
$button-text-color: white;






$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 600px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);



//font
$font-weight: 800;
$footer-font: 'Montserrat', sans-serif;
$header-font: 'Playball', sans-serif;
$body-font:'Playfair, sans-serif';

