@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato&family=Montserrat&family=Playball&family=Playfair:ital,wght@0,400;1,300&family=Poppins&family=Raleway&family=Roboto+Serif:wght@300&display=swap');

body{
    font-family: variables.$footerfont;
}
main {
    width: 90vw;
    height: 190vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px repeat(2 0.5fr) repeat(3 1fr) repeat(2 0.5fr) 4fr 3fr;
    grid-template-areas: "head head head head"
                         "azul . . one"
                         "azul . . one"
                         "a a a a"
                         "a a a a"
                         "a a a a"
                         "rosa . . as2"
                         "rosa . . as2"
                         "tal tal tal tal"
                         "tal tal tal tal"
                         "tal tal tal tal"
                         "fondo fondo fondo fondo"
                         "fondo fondo fondo fondo";
    gap: 3em 0;                     
}

.vene{
    box-shadow: 1px 1px 5px hsl(0, 28%, 67%);
    grid-area: head;
    display:flex;
    align-items: center;
    margin: 2em;
    padding-left: 2em;
}

.azul{
    box-shadow: 1px 1px 5px grey;
    grid-area: azul;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    margin-right: 3em;
    color:grey;

    .star {
        position: relative;
        width: 0px;
        height: 0px;
        display: block;
        border-right: 100px solid transparent;
        border-bottom: 70px solid rgb(250, 222, 234);
        border-left: 100px solid transparent;
        transform: rotate(35deg);
        animation: rotation 6s infinite linear;
      }
      
      .star:before {
        content: '';
        position: absolute;
        display: block;
        top: -45px;
        left: -65px;
        border-bottom: 80px solid rgb(248, 211, 227);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        height: 0;
        width: 0;
        transform: rotate(-35deg);
      }
      
      .star:after {
        content: '';
        position: absolute;
        display: block;
        top: 3px;
        left: -105px;
        width: 0px;
        height: 0px;
        border-right: 100px solid transparent;
        border-bottom: 70px solid rgb(240, 88, 151);
        border-left: 100px solid transparent;
        transform: rotate(-70deg);
      }
      
      .star {
        position: relative;
        width: 0px;
        height: 0px;
        display: block;
        border-right: 100px solid transparent;
        border-bottom: 70px solid rgb(240, 88, 151);
        border-left: 100px solid transparent;
        transform: rotate(35deg);
      }
      
      .star:before {
        content: '';
        position: absolute;
        display: block;
        top: -45px;
        left: -65px;
        border-bottom: 80px solid rgb(240, 88, 151);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        height: 0;
        width: 0;
        transform: rotate(-35deg);
      }

      .star:after {
        content: '';
        position: absolute;
        display: block;
        top: 3px;
        left: -105px;
        width: 0px;
        height: 0px;
        border-right: 100px solid transparent;
        border-bottom: 70px solid pink;
        border-left: 100px solid transparent;
        transform: rotate(-70deg);
      }

      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
}

.one{
    background:url(../images/pikchu/familialatina.jpg) no-repeat;
    background-size: cover;
    color: white;
    grid-area: one;
    display: flex;
    align-items: flex-end;
    box-shadow: 1px 1px 5px grey;
    border-radius: 0.5em;
}

.principal {
    box-shadow: 1px 1px 5px hsl(0, 28%, 67%);
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    padding: 1em;
    margin: 1em;
    border-radius: 0.3em;
}

.rosa{
    // background-color: #ec4dc5;
    grid-area: rosa;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background: url(../images/pikchu/generacioneslatinas.jpg) no-repeat;
    background-size: cover;
    background-position:top;
    box-shadow: 1px 1px 5px grey;
    border-radius: 0.5em;
    color: grey;
    font-size: 1.5em;
}

aside{
    // background-color: #90EF90;
    grid-area: as2;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background: url(../images/pikchu/abuelaybebe.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    box-shadow: 1px 1px 5px rgb(68, 65, 65);
    border-radius: 0.5em;
    color: white;
    font-size: 1.1em;
}

.tal{
    background-color:#ecd3ec ;
    grid-area: tal;
    display: flex;
    align-items: center;


    .a90{
        // grid-column: 1/2;
        // grid-row: 1/2;
        width: 25%;
        height: 80%;
        margin: 0 0.5em;
        background:url(../images/pikchu/Sopa-de-pollo.jpg);
        background-position: center;
        background-size: cover;
        color: transparent;  
        font-size: 2em;   
    }

    .a90:hover{
        color: white;
        transform: scale(120%);
        display: grid;
        place-items: center;
       
    }

    .a91{
        width: 25%;
        height: 80%;
        margin: 0 0.5em;
        background:url(../images/pikchu/tomate-de-palo.jpg);
        background-position: center;
        background-size: cover;
        color: transparent;  
        font-size: 2em;   
    }

    .a91:hover{
        color: white;
        transform: scale(120%);
        display: grid;
        place-items: center;
       
    }

    .a92{
        width: 25%;
        height: 80%;
        margin: 0 0.5em;
        background:url(../images/pikchu/arroz-con-pollo.jpg);
        background-position: center;
        background-size: cover;
        color: transparent;  
        font-size: 2em;   
    }

    .a92:hover{
        color: white;
        transform: scale(120%);
        display: grid;
        place-items: center;
       
    }

    .a93{
        width: 25%;
        height: 80%;
        margin: 0 0.5em;
        background:url(../images/pikchu/guayaba.jpg);
        background-position: center;
        background-size: cover;
        color: transparent;  
        font-size: 2em;   
    }

    .a93:hover{
        color: white;
        transform: scale(120%);
        display: grid;
        place-items: center;
       
    }
}

.fondo{
    background-color: #f09191;
        grid-area: fondo;
        width: 100%;
        height: 20em;
        margin: 0;
        padding: 0;

        .i{
            color:white;
        }

    .balls {
        width: 70%;
        height: 100%;
        // border: 1px solid;
        margin:4em 10em;
        padding-left: 200px;
        position: relative;
        margin: auto;
        margin-top: 3em;
    }

    .ball1 {
        width: 200px;
        height: 200px;
        background-color:transparent;
        font-size: 40px;
        display: grid;
        place-items: center;
        transition: all 2s;
        border-radius: 50%; 
        font-size: 1.5em;
        color: white;
        padding-right:1em;
      }

    .ball2 {
        width: 200px;
        height: 200px;
        background-color: rgb(66, 53, 63);
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: absolute;
        top: 0;
        left: 400px;
        transition: all 4s 3s;
        color:transparent;
        font-size: 40px;
        font-weight: 900;
        transform: rotate(90deg);
    }
    
    .ball3 {
        width: 200px;
        height: 200px;
        background-color: transparent;
        color: aliceblue;
        font-size: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: absolute;
        top: 0;
        left: 400px;
        transition: all 4s 2s;

        .nose{
            position: absolute;
            background: #f0065f;
            width: 90%;
            height: 30%;
            left: 5%;
            top: 35%;
            border-radius: 50px;
            z-index: 4;
        }

        .stickright{
            position: absolute;
            width: 2.5px;
            height: 2.3vw;
            background-color: #27354A;
            top:43%;
            left:83%;
            transform: rotate(60deg);
            z-index: 5;
        }
        
        .stickleft{
            position: absolute;
            width: 2.5px;
            height: 2.3vw;
            background-color: #27354A;
            top:30%;
            left:83%;
            transform: rotate(120deg);
            z-index: 5;
        }
    }
    
    .ball4 {
        width: 200px;
        height: 200px;
        background-color:transparet;
        border: transparent;
        color: transparent;
        font-size: 2em;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: absolute;
        top: 0;
        left: 900px;
        transition: all 4s ease-out 6s;
    }

    
    .balls:hover .ball1{
        transform: translateX(200px) rotate(360deg) ;
        background-color:pink;
    }
    
    .balls:hover .ball2{
        transform: translateX(150px) rotate(90deg) ;
        color: white;
    }
    
    .balls:hover .ball3{
        transform: translateX(300px) rotate(360deg) ;
    }
     
    .balls:hover .ball4{
        color: white ;
        background-color: hsl(0, 81%, 75%);
    }
}

@media (max-width:700px) {
    main{
        // border: 2px solid sandybrown;
        width: 100vw;
        height: 380vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        font-size: 1em;

        aside{
            display: none;    
        }

        .one{
            display: none;
        }

        .vene{
            grid-area: head;
            display:flex;
            align-items: center;
            margin-left: 1em;
        }
        
        .azul{
            background-color: #c6e1e3;
            grid-area: azul;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: auto;
        }
        
        .principal{
            grid-area: a;
            height: 110vh;
            font-size: 0.7em;
        }
        
        .rosa{
            background-color: #ec4dc5;
            grid-area: rosa;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: -3em;
        }
        
        .tal{
            background-color:#7e7b7e ;
            grid-area: tal;
            display: grid;
            place-items: center;
            height: 150vh;
            margin-bottom: 1vh;
            width: 100vw;
            color: #ecd3ec;

            .a90{
                width: 100%;
                height: 25vh;
                margin-top: 0;
            }

            .a91{
                width: 100%;
                height: 25vh;
            }

            .a92{
                width: 100%;
                height: 25vh;
            }

            .a93{
                width: 100%;
                height: 25vh;
            }

        }
        
        .fondo{
          display: none;
        }

        footer{
            background: variables.$header-background;
        }
    }
   
}

