//importing the partial scss file: _base.scss
// @use "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

//importing the partial scss file: _variables.scss
@use "variables";


//importing bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato&family=Montserrat&family=Playball&family=Playfair:ital,wght@0,400;1,300&family=Poppins&family=Raleway&family=Roboto+Serif:wght@300&display=swap');

// this is the body
 *,
 *:before,
*:after {
    margin: 0;
    padding: 0;
         box-sizing: border-box;
 }

body {
    width: 99vw;
    margin: 0;
    margin-top:280px;
    font-family: variables.$body-font;
    font-size: 1em;
}

@import "./partials/navbar.scss";


// this is section carrusel

.wrapimg {
    width: 100%;
    height: 20%;
    margin: auto;
    margin-top:0;
    padding: 10px;
    background: variables.$header-background;
    // border: 1px solid rgb(95, 9, 84);
    display: grid;
    place-items: center;
    overflow: hidden;

    @media (max-width: 700px){
        margin-top: 20vh;
        margin-bottom: 8vh;
    }
}

.imgcontainer {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.i1 {
    position: absolute;
    z-index: 2;
    transition: all 4s;
    transform-origin: 50%, 50%;
    width: 100%;
    height: 100%;
}

.i2 {
    filter: blur(20px);
    transform: scale(1.1);
    opacity: 1;
    transition: 0.4s;
    width: 100%;
    height: 100%;
}

.imgcontainer:hover .i1 {
    filter: blur(20px);
    transform: scale(1.1);
    opacity: 0;
}

.imgcontainer:hover .i2 {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
}


// Esther's section
.Section2 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:60px ;
    padding-bottom: 10px;
    box-shadow: 2px 2px 15px grey;
    color:rgb(172, 164, 164) ;
    margin: 0.8em 0;

}

.container8{
    width: 95%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15em;
    background-color: rgb(245, 237, 231);
    gap: 1em;
    padding: 0.8em;
    margin: auto;
    margin-bottom: 120px;
    padding-top: 60px;
    border-radius: 1em;
    box-shadow: 1px 1px 8px grey;
   

    a {
        text-decoration: none;
        color: variables.$section-dark-font-color;

        &:hover{
            color: variables.$hover;
        }
    }
}

.green {
    grid-column: 1;
    grid-row: 1;
    background-image: url("../images/hongkong.avif");
    background-size: cover;
    background-position: center;
    // align-content: center;
    // color: antiquewhite;
    border-radius: 1em;
    box-shadow: 1px 1px 8px grey;

}

.p1 {
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    text-align: justify;
    background-color: #e9c7c7;
    border-radius: 1em;
    font-size: 16px;
}

.p2 {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    background-color: #e9c7c7;
    border-radius: 1em;
    font-size: 16px;

}

.darkblue {
    background-color: darkblue;
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url("../images/venezuela.avif");
    background-size: cover;
    align-content: center;
    border-radius: 1em;
    box-shadow: 1px 1px 8px grey;
}

.pink {
    background-color: #daabab;
    grid-column: 2/4;
    grid-row: 2/3;
    background-size: cover;
    display: flex;
    padding: 1em;
    border-radius: 1em;

    .p5 {
        font-size: 30px;
        color: rgb(53, 49, 49);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;   
    }
}

.orange {
    background-color: orange;
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("../images/kenia.jpeg");
    background-size: cover;
    background-position: right;
    align-content: center;
    border-radius: 1em;
    box-shadow: 1px 1px 8px grey;
}

.p3 {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    padding: 2em ;
    background-color: #e9c7c7;
    border-radius: 1em;
    font-size: 16px;
    
}

.p4 {
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: #e9c7c7;
    border-radius: 1em;
    font-size: 16px;
}

.red {
    grid-column: 4/5;
    grid-row: 3/4;
    background-image: url("../images/pikchu/german-mother.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 1em;
    box-shadow: 1px 1px 8px grey;
}

.top {
    background-color: pink;
    background-image: url("../images/aside-bottom.avif");
    background-size: cover;
    grid-column: 5/6;
    grid-row: 1/2;
    padding: 2em;
    border-radius: 1em;
    text-align: justify;
    font-size: 16px;
}

.bottom {
    background-color: rgb(238, 174, 152);
    background-image: url("../images/aside-bottom.avif");
    background-size: cover;
    grid-column: 5/6;
    grid-row: 2/4;
    padding: 0.8em;
    border-radius: 1em;

    .aside-h4{
        margin:2em;
    }

    a {
        color: #0f0f0f;
        text-decoration: none;
      
    }

    a:hover {
        color: #eb1add;
    }

}


.popularposts li {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    font-size: 1.3em;
   
}



/* Media query for screens with a maximum width of 740px */
@media (max-width: 700px) {
    .container8 {

        grid-template-columns: auto;
        grid-template-rows: auto;
        height: 560vh;
        margin-bottom: 30vh;
        width: 99%;

        .green {
            height: 25vh;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .p1 {
            height: 75vh;
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .darkblue {
            height: 30vh;
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .p2 {
            height: 40vh;
            grid-column: 1/2;
            grid-row: 4/5;
            margin: auto;
        }

        .pink {
            height: 50vh;
            padding: 1em 1.5em;
            font-size: 1.2em;
            font-family: variables.$footer-font;
            text-align: center;
            grid-column: 1/2;
            grid-row: 5/7;
        }

        .orange {
            height: 25vh;
            grid-column: 1/2;
            grid-row: 7/8;
            
        }

        .p3 {
            height: 73vh;
            grid-column: 1/2;
            grid-row: 8/9;
            
        }

        .red {
            height: 28vh;
            grid-column: 1/2;
            grid-row: 9/10;
        }

        .p4 {
            height: 50vh;
            grid-column: 1/2;
            grid-row: 10/11;
        }

        .top {
            grid-column: 1/2;
            grid-row: 11/13;
            width: 80%;
            height: 40vh;
            margin: auto;
        }

        .bottom {
            grid-column: 1/2;
            grid-row: 13/15;
            width: 80%;
            height: 65vh;
            margin: auto;
            padding: 0;
            font-size: 0.8em;
            text-align:left;

         


        }

    }
}


// Pikchu's section

.container09 {
    width: 80%;
    height: 50vh; 
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 2.5em;
    margin: auto;
    

    div {
        color: white;
        box-shadow: 1px 1px 5px grey;
        margin: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: variables.$header-font;
    }


    audio{
        height: 8%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
 

    .container09-title {
        grid-column: 1/4;
        grid-row: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        h1 {
            // border: 1px solid black;
            font-family: 'Montserrat', sans-serif;
            margin-right: 5em;
            color:grey;
        }
    }

    .tired {
        position: relative;
        grid-column: 1/2;
        grid-row: 2/3;
        background: url(../images/babycrying.jpg) no-repeat;
        background-size: cover;
        border-radius: 1em;
        background-position: center;
    }

    .hungry {
        position: relative;
        grid-column: 2/3;
        grid-row: 2/3;
        background: url(../images/babyishungry.jpg) no-repeat;
        background-size: cover;
        border-radius: 1em;
        background-position: center;
    }

    .love {
        position: relative;
        grid-column: 3/4;
        grid-row: 2/3;
        background: url(../images/Newborn-boy-crying.jpg) no-repeat;
        background-size: cover;
        border-radius: 1em;
        background-position: center;
    }



   


    @media (max-width:700px) {
        margin-top: 0vh;
        margin-bottom: 8vh;
        height: 200vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        h1 {
            padding: 0.5em;
        }

        .container09-title {
            height: 30vh;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .tired {
            height: 30vh;
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .hungry {
            height: 30vh;
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .love {
            height: 30vh;
            grid-column: 1/2;
            grid-row: 4/5;
        }

        audio {
            margin-left: 1em;
        }
    }
}

.cry{
    width: 80%;
    color: grey;
    padding: 3%;
    margin: auto;
    line-height: 2em;
    font-size: 1.5em;
}

.cry li{
    padding: 3%;
}

.container10 {
    height: 50vh;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr;
    grid-gap: 20px;
    margin: 4em auto;
    padding: 2em;


    div {
        text-shadow: #2b2a2b 1px 1px 5px;
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px;
    }

    .container10-title {
      
        grid-column: 1/5;
        grid-row: 1/2;
        padding: 3em;
        box-shadow: 1px 1px 5px grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: variables.$header-font;

        h1 {
            height: 20vh;
            display: grid;
            place-items: center;
            font-family: variables.$footer-font;
            color: grey;
           
        }

    }


    @media (max-width:700px) {
        width: 100%;
        height: 200vh;
        margin-top: 10vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        .container10-title {
            height: 10vh;
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
}


.pic1 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../images/babyfoot.jpg);
    background-size: cover;
    opacity: 0.8;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    padding: 0.6em;

    @media (max-width:700px) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .pic1-q {
        color: rgb(27, 22, 22);
        line-height: 0;
        font-weight: 600;
    }

    span {
        opacity: 0;
        color: white;
    }
}

.pic1:hover span {
    opacity: 1;
    color: white;
}

.pic1:hover {
    transform: scale(1.1) rotate(2deg);
    opacity: .9;
}

.pic2 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../images/babydiaper1.jpg);
    opacity: 0.8;
    background-size: cover;
    color: rgb(46, 44, 44);
    font-size: 1.2em;
    font-weight: 800;
    padding: 0.6em;

    @media (max-width:700px) {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

.pic2-q {
    color: rgb(6, 6, 6);
    line-height: 0;
    font-weight: 600;
}

.pic2 span {
    opacity: 0;
}

.pic2:hover span {
    opacity: 1;
    color: #0f0f0f;
}

.pic2:hover {
    transform: scale(1.1) rotate(5deg);
    opacity: .9;
}

.pic3 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../images/babyinarm.jpg);
    background-size: cover;
    opacity: 0.8;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    padding: 0.6em;

    @media (max-width:700px) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}

.pic3-q {
    line-height: 0;
    font-weight: 800;
    color: rgb(10, 8, 8);
}

.pic3 span {
    opacity: 0;
    color: white;
}

.pic3:hover span {
    opacity: 1;
    color: white;
}

.pic3:hover {
    transform: scale(1.1) rotate(5deg);
    opacity: .9;
}

.pic4 {
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(../images/whalemom.jpg);
    background-size: cover;
    opacity: 0.8;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.6em;
   
    @media (max-width:700px) {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

.pic4-q {
    width: 100%;
    color: rgb(10, 8, 8);
}

.pic4 span {
    opacity: 0;
    color: white;
}

.pic4:hover span {
    opacity: 1;
    color: white;
}

.pic4:hover {
    transform: scale(1.1) rotate(5deg);
    opacity: .9;
}

.container11 {
    margin: 4em auto;
    width: 80%;
    height: 100vh;
    display: grid;
    padding-top: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-gap: 2em;
    margin-bottom: 1em;

    div {
        padding: 3em;
        box-shadow: 1px 1px 5px grey;
        margin: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: variables.$footer-font;


        a {
            text-decoration: none;
            color: variables.$section-dark-font-color;
    
            &:hover{
                color: variables.$hover;
            }
        }
       
    }

    .container11-title {
        padding: 3em;
        grid-column: 1/3;
        grid-row: 1/2;
        place-items: center;
        
        

        h1 {
            border: transparent;
            height: fit-content;
            color: grey;
           
        }

       
    }

    div:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        background-image: url(../images/callingmom.jpeg);
        background-size: cover;
        border-radius: 1em;

        .p-artical-1 {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }

    div:nth-child(4) {
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../images/germay/mothers-day-in-german-muttertag.jpg);
        background-size: cover;
        border-radius: 1em;

        .p-artical-2 {
            background-color: rgb(247, 244, 217);
            grid-column: 2/3;
            grid-row: 3/4;
        }
    }

    div:nth-child(6) {
        grid-column: 1/2;
        grid-row: 4/5;
        background-image: url(../images/balancing-work-and-new-baby.jpg);
        background-size: cover;
        border-radius: 1em;
    }

    @media (max-width:700px) {
        background:linear-gradient(145deg, #c39595, hsl(27, 54%, 89%));
        width: 100%;
        height: 200vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;

        .container11-title {
            grid-column: 1/2;
            grid-row: 1/2;
            height: 25vh;
        }

        .artical-2 {
            display: none;
        }

        .p-artical-2{
            display: none;
        }

        
    }
}

// here begins the footer 

footer {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1/2fr;
    background: variables.$footer-background;
    font-family: variables.$footer-font;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 2em 0;
}

.p-blog {
    line-height: 1.2em;
}

footer a {
    color: rgb(22, 37, 22);
    line-height: 1.5rem;
    text-decoration: none;
    margin-top: 2em;
}

footer a:hover {
    color: #eb1add;
}

.external-link a:hover {
    border-left: 2px solid #eb1add;
    padding: 2px;
    color: #eb1add;
}

.section1 {
    // border: 2px solid;
    grid-column: 1;
    grid-row: 1/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3em;
    font-family: variables.$footer-font;
}

.two {
    // border: 2px solid;
    grid-column: 2;
    grid-row: 1/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3em;
}

.three {
    // border: 2px solid;
    grid-column: 3;
    grid-row: 1/3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3em;
}

.section-form {
    // border: 2px solid;
    grid-column: 4;
    grid-row: 1/3;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3em;
    font-family: variables.$footer-font;
}

.footer-section2 {
    // border: 2px solid;
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 3em;
    font-family: variables.$footer-font;
}

.fa-arrow-up {
    margin-bottom: 2em;
}

.container-icon {
    // border: 2px solid;
    grid-column: 4;
    grid-row: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
    margin-left: -1em;
}

.totop {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon a {
    padding: 1rem;
    font-weight: 900;
    font-size: 30px;
    margin: 1.5em 0;
}

.footer-section2-link {
    display: flex;
    width: 20%;
}

.footer-section2 .p-log {
    width: 50%;

}

span {
    color:#eb1add;
}

section.three ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

li {
    list-style-type: none;
    text-align: center;
}

.footer-section2-link a {
    text-decoration: none;
    margin: 0.5rem;
    color: black;

}

button {
    position: relative;
    display: flex;
    width: fit-content;
    font-weight: 500;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    padding:0;
    margin: -1em 5em;
    border: none;
    background: none;
}

button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -5px;
    background: #eb1add;
    height: 2px;
    transition: 0.3s ease-out;
}

button:hover::after {
    width: 100%;
}

button:hover svg {
    transform: translateX(6px);
    color: #eb1add;
}

button svg {
    color: rgb(15, 3, 3);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
    margin-top: 2em;
}

/* form */
.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.feed-form input {
    height: 54px;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;

}


.button_submit:hover,
.feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #eb1add;
}

.button_submit {
    width: 100%;
    height: 54px;
    font-size: 14px;
    color: white;
    background: rgb(223, 74, 183);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1.8em;
    margin: 0;
}

@media screen and (max-width: 760px) {
    footer {
        display: block;
        flex-wrap: wrap;
        background: variables.$header-background;
    }

    .totop {
        position: absolute;
        left: 11em;
        top: 2400vh;
        margin-bottom: 4em;
    }

    .container-icon {
        position: absolute;
        left: -2em;
    }
}
  
  
  
  