*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

body{
width: 90vw;
height: 110vh;
margin-top: 6em;
}

#fielda{
    border: 1px solid rgba(247, 240, 240, 0.616);
    border-top: 1px solid rgba(128, 128, 128, 0.568);
    height: 60vh;
    width: 40vw;
    margin: auto;
   padding: 20px;
}

#fieldb{
    border:1px solid rgba(247, 240, 240, 0.616);
    border-bottom:1px solid rgba(128, 128, 128, 0.568);
    height: 40vh;
    width: 40vw;
    margin: auto;
    padding: 20px;
}

div{
    /* border: 1px solid red; */
    margin: 5px;
    margin: 10px;
    
}

#fielda input, .widther{
    border: 1px solid rgba(128, 128, 128, 0.568);
    width: 30vw;
}

.textarea{
    border: 1px solid rgba(128, 128, 128, 0.568);
    color:1px solid rgba(128, 128, 128, 0.568); 
    font: 100;
}

select{
    background-color: rgba(128, 128, 128, 0.568) ;
    width: 30vw;
}

.pay{
    width: 30vw;
}

.number{
    width: 30vw;
}

.code{
    width: fit-content;
}

.button{
    position: absolute;
    right: 37em;
    width: fit-content;
    color: aliceblue;
    font-size: large;
    font-weight: 600;
    background-color: rgb(223, 74, 183);
    border-radius: 10px;
    border: transparent;
    padding: 1em;
    margin: 2em 10em;
}